/* * {
    border: 1px solid black;
} */

.navbar {
    background-color: black;
}

.social {
    text-align: center;
}

.coverimage {
    width: 100%;
}

iframe{
    width: 100%;
}

.artistlink{
    width: 100%;
    height: 10px;
}

.borders{
    border: 1px solid black;
    overflow-wrap: break-word;
}

#container{
    width: 80%;
}

aside{
    width: 15%;
    margin-left: auto;
}

.songlink{
    overflow-wrap: break-word;
}

.audiocontrols{
    overflow-wrap: break-word;
}


