/* * {
    border: 1px solid black;
} */


.navbar {
    background-color: black;
}

.social {
    text-align: center;
}

.coverimage {
    width: 100%;
}

iframe {
    width: 100%;
}

.artistlink {
    width: 100%;
    height: 10px;
}

.borders {
    border: 1px solid black;
    overflow-wrap: break-word;
}

#container {
    width: 80%;
}

#favorites {
    width: 50%;
}

aside {
    width: 15%;
    margin-left: auto;
}

.songlink {
    overflow-wrap: break-word;
}

.audiocontrols {
    display: block;
    position: relative;
}

button.blue {
    color: white;
    background: #4C8FFB;
    border: 1px #3079ED solid;
    box-shadow: inset 0 1px 0 #80B0FB;
}

button.blue:hover {
    border: 1px #2F5BB7 solid;
    box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
    background: #3F83F1;
}

button.blue:active {
    box-shadow: inset 0 2px 5px #2370FE;
}

.narrow {
    width: 140px;
}

.card-styles {
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 5px 10px #888888;
}


@media screen and (max-width: 992px) {
    .results {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

}