/* * {
    border: 1px solid black;
} */

.navbar {
    background-color: black;
}

.social {
    text-align: center;
}

.coverimage {
    width: 100%;
}

iframe{
    width: 100%;
}

.songlink{
    width: 100%;
}

.borders{
    border: 1px solid black;
}

#container{
    width: 80%;
}

aside{
    width: 15%;
    margin-left: auto;
}